<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
관리자 메인 페이지

<div class="logout">
    <th:block th:unless="${#strings.isEmpty(session.loggedIn)}">
        <a id="logout" href="/log_out"><th:block th:text="${session.loggedIn} + ${session.role} + ' 로그아웃'"></th:block></a>
    </th:block>
</div>
<div class="login">
    <th:block th:if="${#strings.isEmpty(session.loggedIn)}">
        <a id="login" href="/login">로그인</a>
    </th:block>
</div>
<div class="supervisor">
    <th:block th:if="${#strings.equals(session.role, 'SUPERVISOR')}">
        <a name="supervisor" href="/admin/members">매장관리</a>
        <a name="supervisor" href="/admin/items">상품관리</a>

    </th:block>
</div>
<div class="manager">
    <th:block th:if="${#strings.equals(session.role, 'MANAGER')}">
        <a name="manager" href="/admin/items">상품관리</a>
    </th:block>
</div>

</body>
</html>