<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <title>상품 목록</title>
</head>
<body>
<h3 style="text-align: center">[ 상품 목록 ]</h3>
<nav class="nav">
    <ul class="nav justify-content-center">
        <li class="nav-item" th:each="member:${members}">
            <a class="nav-link" th:href="@{/member/{memberNo}(memberNo = ${member.getNo()})}" th:text="${member.getId()}">1</a>
        </li>
    </ul>
</nav>
<div class="container">
    <div class="row row-cols-3">
        <div th:each="item : ${items}" class="item-container">
            <form method="GET" th:action="@{/member/{no}/item/{itemNo}(no = ${item.getMember.getNo()}, itemNo = ${item.getNo()})}" class="form">
                <input type="hidden" th:value="${item.getMember().getNo()}" id="memberNo">
                <div class="itemImg"><img th:each="file : ${item.getImg()}" th:src="|/api/itemImages/${file.getSaveName()}|" width="300" height="330" id="img"/></div>
                <div class="itemName" th:text="${item.itemName}">상품명</div>
                <div class="price" th:text="${item.price}">가격</div>
                <div class="isSoldOut" th:text="${item.isSoldOut()} ? '품절' : '판매중'">상태</div>
                <input type="hidden" name="${item.no}">
                <input type="number" id="q" name="q" min="1" value="1" class="btn-quantity" style="margin-bottom: 10px"/>
                <input type="submit" id="addItem" value="담기" class="btn-secondary" th:unless="${item.isSoldOut()} ? 'disabled'" style="margin-bottom: 10px"/>
            </form>
        </div>
    </div>
</div>
<nav aria-label="pagination" class="col">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${items.getPageable().getPageNumber() + 1 == 1} ? 'disabled'">
            <a class="page-link" th:href="@{/member/{no}(no=${memberNo}, page=${items.getPageable().getPageNumber() -1})}" tabindex="-1" aria-disabled="true">이전</a>
        </li>
        <li class="page-item" th:classappend="${i == items.getPageable().getPageNumber() + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
            <a class="page-link" th:href="@{/member/{no}(no=${memberNo}, page=${i - 1})}" th:text="${i}">1</a>
        </li>
        <li class="page-item" th:classappend="${items.getPageable().getPageNumber() + 1 == items.getTotalPages()} ? 'disabled'">
            <a class="page-link" th:href="@{/member/{no}(no=${memberNo}, page=${items.getPageable().getPageNumber() +1})}" >다음</a>
        </li>
    </ul>
</nav>
<br/>
<div class="container-md">
    <div class="row">
        [ 주문내역 ]
        <div th:each="cart : ${session.cart}" clas="col">
            <input type="hidden" th:value="${session.cart.size()}" id="cartSize">
            <span th:text="${cart.getItem().getItemName()}" th:value="${cart.getItem().getItemName()}" id="order_itemName"></span>
            <span th:text="${cart.quantity} + 개" th:value="${cart.quantity}" id="order_item_quantity"></span> X
            <span th:text="${cart.getItem().getPrice()} + 원"th:value="${cart.getItem().getPrice()}" id="order_item_price"></span>
        </div>
    </div>
    <br/>
    <div class="row">
        결제금액:
        <div th:if="${session.totalPrice} == null" th:text="0원" class="col"/>
        <div th:unless="${session.totalPrice} == null" th:text="${session.totalPrice} + 원" class="col"/>
    </div>
    <div>
        <input type="button" th:value="다음으로" th:onclick="|location.href='@{/order}'|"  class="btn btn-group-sm btn-primary" style="margin: 20px"/>
        <input type="button" th:value="초기화" class="btn btn-group-sm btn-danger" id="btn_reset" th:onclick="|location.href='@{/order/reset/{memberNo}(memberNo = ${memberNo})}'|" style="margin: 20px"/>
    </div>
</div>
</body>
</html>