<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.6.0.min.js"></script>

    <title>매장 관리</title>
</head>
<body>
<button type="button" class="btn btn-outline-primary"><a href="javascript:history.back(-1)">뒤로</a></button>
<button type="button" class="btn btn-outline-primary"><a th:href="@{/admin}">메인</a></button>
<a th:href="@{/admin/member}" class="btn btn-primary">등록</a>
<br/>
<br/>
<br/>

<h2>매장 목록</h2>
<div>
    <select id="select_role">
        <option value="supervisor">관리자</option>
        <option value="manager" selected>매장</option>
    </select>
    <button type="button" id="btn_search_role">검색</button>
</div>
<table class="table table-horizontal table-bordered">
    <thead>
        <tr>
            <th>매장번호</th>
            <th>매장로고</th>
            <th>매장명</th>
            <th>위치</th>
            <th>입점일자</th>
            <th>기타</th>
        </tr>
    </thead>
    <tbody class="tbody" th:each="member : ${members}">
        <td th:text="${member.getNo()}">매장번호</td>
        <td><img th:each="file : ${member.getThumbImg()}" th:src="|/api/memberImages/${file.getSaveName()}|" width="100" height="50" id="img"/></td>
        <td th:text="${member.getId()}" id="memberName">매장명</td>
        <td th:text="${member.getLocation()}" id="location">위치</td>
        <td th:text="${member.getRegDate()}" id="regDate">입점일자</td>
        <td>
            <a th:href="@{/admin/member/{memberNo}(memberNo=${member.getNo()})}" type="button" class="btn btn-primary" id="btn_item_update">수정</a>
            <button type="button" class="btn btn-danger" id="btn_member_delete" th:onclick="|delete_member.delete(${member.getNo()})|">삭제</button>
        </td>
    </tbody>

</table>
<script type="text/javascript">

    let delete_member = {
        delete: function (memberNo) {
            $.ajax({
                type: "DELETE",
                url: `/api/member/` + memberNo,
                dataType: "json"
            }).done(function (response) {
                alert('성공적으로 삭제되었습니다.');
                window.location.href = '/admin/members';
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
    }

    $(function (){
       $('#btn_search_role').click(function (){
           var role = $('#select_role').val();

           $.ajax({
               type:'GET',
               url: '/api/member/role/' + role,
               dataType:'json',
               contentType:'application/json; charset=UTF-8',
               success:  function () {
                   window.location.href = '/admin/members/' + role;
               }
           });
       });
    });
</script>
</body>
</html>