<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Main</title>
</head>
<body>
<h1 class="headerTitle" style="text-align: center">FOOD COURT</h1>
<div class="container">
    <div class="row row-cols-3">
        <div class="member-container" th:each="member:${members}">
            <a th:href="@{/member/{memberNo} (memberNo=${member.getNo()})}">
                <div class="member-img"><img th:each="file : ${member.getThumbImg()}" th:src="|/api/memberImages/${file.getSaveName()}|" width="330" height="330" id="img"/></div>
            </a>
            <div class="member-name" th:text="${member.id}" style="text-align: center"></div>
        </div>
    </div>
</div>
</body>
</html>