<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <style>
        *{
            text-align: center;
        }
        table{
            text-align: center;
            margin-left:10px;
            margin-right:10px;
        }
        #select_store{
            text-align: right;
            margin-right: 15px;
            margin-bottom: 10px;
        }
    </style>
    <title>주문 관리</title>
</head>
<body>
<button type="button" class="btn btn-outline-primary"><a href="javascript:history.back(-1)">뒤로</a></button>
<button type="button" class="btn btn-outline-primary"><a th:href="@{/admin}">메인</a></button>
<br/>
<br/>
<br/>

<h2>주문 목록</h2>
<div th:text="${member.getId()}"/>
<table class="table table-horizontal table-bordered" style="text-align: center">
    <thead>
    <tr class="table-light">
    <th>매장명</th>
        <th>주문번호</th>
        <th>상품명</th>
        <th>가격</th>
        <th>수량</th>
        <th>주문 총 가격</th>
        <th>주문 일시</th>
    </tr>
    </thead>
    <tbody class="tbody" th:each="order : ${orders}">
    <td th:text = "${order.getMember().getId()}" id="memberName">매장명</td>
    <td th:text="${order.getNo()}" id="orderNo">주문번호</td>
    <td th:text = "${order.getItem().getItemName()}" id="itemName">상품명</td>
    <td th:text="${order.getPrice()}" id="price">가격</td>
    <td th:text="${order.getQuantity()}" id="quantity">수량</td>
    <td th:text="${order.getTotalPrice()}" id="totalPrice">주문 총 가격</td>
    <td th:text="${order.getRegDate()}" id="regDate">주문 총 가격</td>
    </tbody>
</table>
<nav aria-label="pagination">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${orders.getPageable().getPageNumber() + 1 == 1} ? 'disabled'">
            <a class="page-link" th:href="@{/admin/orders(page=${orders.getPageable().getPageNumber() -1})}" tabindex="-1" aria-disabled="true">이전</a>
        </li>
        <li class="page-item" th:classappend="${i == orders.getPageable().getPageNumber() + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
            <a class="page-link" th:href="@{/admin/orders(page=${i - 1})}" th:text="${i}">1</a>
        </li>
        <li class="page-item" th:classappend="${orders.getPageable().getPageNumber() + 1 == orders.getTotalPages()} ? 'disabled'">
            <a class="page-link" th:href="@{/admin/orders(page=${orders.getPageable().getPageNumber() +1})}" >다음</a>
        </li>
    </ul>
</nav>
<script type="text/javascript">


</script>
</body>
</html>